<!DOCTYPE html>
<html>
<head>
    <title>CloudCab - Dashboard Login</title>
    <link href="css/application.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <script src="lib/jquery/jquery-2.0.3.min.js"> </script>
<script src="lib/jquery-pjax/jquery.pjax.js"></script>
    <script src="lib/backbone/underscore-min.js"></script>
    <script src="js/settings.js"> </script>
</head>
<body>
<div class="single-widget-container">
    <section class="widget login-widget">
        <header class="text-align-center">
            <h4>Login to your account</h4>
        </header>
        <div class="body">
            <form class="no-margin"
                  action="/login" method="post">
                <fieldset>
                    <div class="form-group no-margin">
                        <label for="email" >Email</label>

                        <div class="input-group input-group-lg">
                                <span class="input-group-addon" >
                                    <i class="eicon-user"></i>
                                </span>
                            <input name="login" id="email" type="email" class="form-control input-lg"
                                   placeholder="Your Email" <% if(wrongLogin){ %> style="box-shadow: red 0 0 10px"<%}%> >
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="password" >Password</label>

                        <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <i class="fa fa-lock"></i>
                                </span>
                            <input name="password" id="password" type="password" class="form-control input-lg"
                                   placeholder="Your Password" <% if(wrongPass){ %> style="box-shadow: red 0 0 10px"<%}%> >
                        </div>

                    </div>
                </fieldset>
                <div class="form-actions">
                    <button type="submit" class="btn btn-block btn-lg btn-danger">
                        <span class="small-circle"><i class="fa fa-caret-right"></i></span>
                        <small>Sign In</small>
                    </button>
                    <div class="forgot"><a class="forgot" href="#">Forgot Username or Password?</a></div>
                </div>
            </form>
        </div>
        <footer>
            <div class="facebook-login">
                <a href="index.html"><span><i class="fa fa-facebook-square fa-lg"></i> Coming soon </span></a>
            </div>
        </footer>
    </section>
</div>
</body>
</html>